@use 'vars.scss' as *;

::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: $ft-size-default;
  font-family: $ft-sans;
  margin: 0px;
  background-color: $bg-default;
  color: $fg-default;
}

main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  place-content: center;
  z-index: 0;
  margin-top: -$sp-md;

  button {
    width: 140px;
    margin: 0 auto;
    margin-top: $sp-xl;
    outline: none;
    background: none;
    border: none;
    border-radius: 8px;
    background-color: #CCCCCC;
    height: 40px;
    font-size: $ft-size-sm;
    font-weight: 600;
    font-family: $ft-sans;
    padding-bottom: 1px;
    cursor: pointer;
    color: #333333;
    transition: background-color 0.05s ease;
    user-select: none;
    
    &:hover {
      background-color: #BBBBBB;
    }
  }

  section {
    max-width: $full-width;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    .headline {
      display: flex;
      align-items: center;
      gap: $sp-md;
      margin-bottom: $sp-md;
      
      img {
        width: 48px;
        user-select: none;
        pointer-events: none;
      }
      
      p {
        font-family: $ft-sans;
        font-size: 2.5rem;
        font-weight: 600;
        cursor: default;
        color: #FFFFFF;
        text-align: center;
        margin: 0px;
      }
    }
    
    .word {
      font-family: $ft-sans;
      font-size: 1.3rem;
      font-weight: 400;
      cursor: default;
      color: #BBBBBB;
      text-align: center;
      margin: 0px;
      margin-bottom: $sp-lg;
      height: 25px;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        gap: 5px;
      
      .row {
        display: flex;
        gap: 5px;

        &.current .letter .flip .front {
          border: 1.5px solid #5F5F5F;
        }
      }
    }
    
    .letters {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
      
      .letter {
        width: 40px;
        height: 40px;
        font-size: 1rem;
        font-weight: 400;
      }
    }
        
    .letter {
      width: 64px;
      height: 64px;
      font-family: $ft-sans;
      font-size: 1.7rem;
      font-weight: 600;
      user-select: none;
      cursor: default;
      text-transform: uppercase;
      perspective: 1000px;
      
      .flip {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
      
        .front, .back {
          position: absolute;
          display: grid;
          place-content: center;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          overflow: hidden;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
        
        .front {
          background-color: unset;
          border: 1.5px solid #444444;
          transition: border-color 1s;
          color: white;
        }
      
        .back {
          transform: rotateX(180deg);

          &.not-included {
            background-color: #444444;
            border: 1.5px solid #444444;
            color: white;
          }

          &.is-included {
            background-color: #D39A32;
            border: 1.5px solid #D39A32;
            color: white;
          }

          &.correct {
            background-color: #3D873D;
            border: 1.5px solid #3D873D;
            color: white;
          }
        }
      }
      
      &.entered {
        
        .flip {
          transform: rotateX(180deg);

          &.col-0 {
            transition-delay: 0s;
          }
      
          &.col-1 {
            transition-delay: 0.25s;
          }
      
          &.col-2 {
            transition-delay: 0.5s;
          }
      
          &.col-3 {
            transition-delay: 0.75s;
          }
      
          &.col-4 {
            transition-delay: 1s;
          }
        }
      }
    }
  }
}
