/* colors */
$bg-default: #1E1E1E;
$fg-default: #1A1A1A;

$bg-dark: #424242;
$bg-darker: #242424;

$bg-border: #343434;

$fg-dark: #AAAAAA;
$fg-darker: #888888;

/* widths */
$full-width: 600px;

/* spacings */
$sp-xs: 4px;
$sp-sm: 8px;
$sp-md: 16px;
$sp-lg: 32px;
$sp-xl: 48px;
$sp-2xl: 64px;
$sp-3xl: 98px;

/* font types */
$ft-sans: 'Inter', sans-serif;
$ft-sans-jp: 'Noto Sans JP', sans-serif;

/* font sizes */
$ft-size-default: 16px;
$ft-size-sm: 1rem;
$ft-size-md: 1.2rem;
$ft-size-lg: 1.5rem;
$ft-size-xl: 2rem;
$ft-size-2xl: 2.7rem;
$ft-size-3xl: 4.7rem;
$ft-size-4xl: 6rem;
